{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block stylesheets %}
<style>

    .active {
        color:red;
    }

    #pageContent {
        border:1px solid black;
    }

</style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{{ path('card') }}" class="navbar-brand"> Form Card </a><br>
    <a href="{{ path('faction') }}" class="navbar-brand"> Form Faction </a><br>
    <a href="{{ path('deck') }}" class="navbar-brand"> Form Deck </a><br>
    <a href="{{ path('cardsList') }}" class="navbar-brand"> Cards List </a><br>
    <a href="{{ path('decksList') }}" class="navbar-brand"> Decks List </a>
    <a href="{{ path('cardExport') }}" class="navbar-brand export" download="export.csv"> Export Cards </a>
</nav>

<div id="pageContent">
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">

    $(document).ready(function () {
        $('nav a').click(function (e) {

            if(!$(this).hasClass('export')) {
                e.preventDefault();
                $('nav a').removeClass('active');
                $(this).addClass('active');
                $("#pageContent").load($(this).attr('href'));
            }
            
        });

        $('#pageContent').on('submit', 'form', function (e) {
            e.preventDefault();
            var form = $(this);

            $.ajax({
            type: "POST",
            url: form.attr('action'),
            data: new FormData(this),
            contentType: false,
            processData:false,
            success: function success(response) {
                $("#pageContent").load($('.active').attr('href'));
            }
            });
        });
    });

</script>
{% endblock %}