{% extends 'base.html.twig' %}

{% block title %}Cards List{% endblock %}

{% block stylesheets %}
<style>
    .card {
        width:300px;
        height:400px;
        background-color:rgb(100,100,100);
        border-radius:20px;
        border:1px solid black;
        box-shadow:0px 0px 10px #ccc;
        text-align:center;
        color:white;
    }
    .cardHeader {
        height:50px;
    }
    .cardHeader span {
        line-height:50px;
    }
    .cardImage {
        width:250px;
        height:250px;
        background-position:center center;
        background-size:cover;
        margin:20px auto;
    }
    .cardFooter {
        display:flex;
        flex-direction:row;
        justify-content: space-around;
    }
    .cardNumber {
        background-color:white;
        border-radius:50%;
        width:50px;
        height:50px;
        text-align:center;
        line-height:50px;
        float:left;
    }

    /* 
        <div class="card">
            <div class="cardHeader">
                <span> </span>
                <span>  </span>
            </div>
            <div class="cardImage"></div>
            <div class="cardFooter">
                <div class="cardNumber" style="color:blue">  </div>
                <div class="cardNumber" style="color:red">  </div>
                <div class="cardNumber" style="color:green">  </div>
            </div>
        </div>
    */

</style>
{% endblock %}

{% block body %}
<div style="display:flex;flex-direction:row;justify-content:space-between">
    {% for card in cards %}
        <div class="card">
            <div class="cardHeader">
                <span><b>{{ card.name }}</b></span>
                <span>({{ card.faction.name}})</span>
            </div>
            <div class="cardImage" style="background-image:url('{{ asset('uploads/cards/'~card.image) }}')"></div>
            <div class="cardFooter">
                <div class="cardNumber" style="color:blue"> {{ card.cost }} </div>
                <div class="cardNumber" style="color:red"> {{ card.attack }} </div>
                <div class="cardNumber" style="color:green"> {{ card.life }} </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
