{% extends 'base.html.twig' %}

{% block title %}Cards List{% endblock %}

{% block body %}
<div>
    <ul id="decks" class="list-group">
    {% for deck in decks %}
        <li class="list-group-item">{{ deck.name }} (<a href="{{ path('deckManage', {'idDeck' : deck.id}) }}"> Gérer </a>)</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">

$('#decks a').click(function (e) {
    e.preventDefault();
    $("#pageContent").load($(this).attr('href'));
});

</script>
{% endblock %}