{% extends 'base.html.twig' %}

{% block title %}Deck Manage{% endblock %}

{% block stylesheets %}
<style>
    .card {
        width:150px;
        height:200px;
        background-color:rgb(100,100,100);
        border-radius:20px;
        border:1px solid black;
        box-shadow:0px 0px 10px #ccc;
        text-align:center;
        color:white;
    }
    .cardHeader {
        height:25px;
    }
    .cardHeader span {
        line-height:25px;
    }
    .cardImage {
        width:125px;
        height:125px;
        background-position:center center;
        background-size:cover;
        margin:10px auto;
    }
    .cardFooter {
        display:flex;
        flex-direction:row;
        justify-content: space-around;
    }
    .cardNumber {
        background-color:white;
        border-radius:50%;
        width:25px;
        height:25px;
        text-align:center;
        line-height:25px;
        float:left;
    }

    #deckContent {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        height:200px;
    }

    .divider {
        border-bottom:1px solid #ccc;
        margin:15px 0px;
        width:100%;
    }

    .card:hover {
        cursor:pointer;
        transition:0.7;
        background-color:rgb(80,80,80);
    }
</style>
{% endblock %}

{% block body %}
<h1> {{ deck.name }}</h1>
<div class="divider"></div>
<div id="deckContent">
{% for card in deck.deckCards %}
    <div class="card">
        <input type="hidden" value="{{ card.card.id }}">
        <div class="cardHeader">
            <span><b>{{ card.card.name }}</b></span>
            <span>({{ card.card.faction.name}})</span>
        </div>
        <div class="cardImage" style="background-image:url('{{ asset('uploads/cards/'~card.card.image) }}')"></div>
        <div class="cardFooter">
            <div class="cardNumber" style="color:blue"> {{ card.card.cost }} </div>
            <div class="cardNumber" style="color:red"> {{ card.card.attack }} </div>
            <div class="cardNumber" style="color:green"> {{ card.card.life }} </div>
        </div>
    </div>
{% endfor %}
</div>
<div class="divider"></div>
<div style="display:flex;flex-direction:row;justify-content:space-between" id="cardsList">
    {% for card in cards %}
        <div class="card">
            <input type="hidden" value="{{ card.id }}">
            <div class="cardHeader">
                <span><b>{{ card.name }}</b></span>
                <span>({{ card.faction.name}})</span>
            </div>
            <div class="cardImage" style="background-image:url('{{ asset('uploads/cards/'~card.image) }}')"></div>
            <div class="cardFooter">
                <div class="cardNumber" style="color:blue"> {{ card.cost }} </div>
                <div class="cardNumber" style="color:red"> {{ card.attack }} </div>
                <div class="cardNumber" style="color:green"> {{ card.life }} </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">

$('#cardsList .card').click(function() {

    $('#cardsList .card').removeClass('selectedCard');
    $(this).addClass('selectedCard');

    $.ajax({
        type: "POST",
        url: "{{ path('deckAdd', {'idDeck' : deck.id}) }}",
        data: {'idCard' : $(this).find('input[type=hidden]').val() },
        success: function success(response) {
            $('#deckContent').append('<div class="card">' + $('.selectedCard').html() + '</div>');
            $('#cardsList .card').removeClass('selectedCard');    
        }
    });
});

$('#deckContent').click('.card', function(e) {

    $('#deckContent .card').removeClass('selectedCard');
    $(e.target).closest('.card').addClass('selectedCard');

    $.ajax({
        type: "POST",
        url: "{{ path('deckRemove', {'idDeck' : deck.id}) }}",
        data: {'idCard' : $(this).find('input[type=hidden]').val() },
        success: function success(response) {
            $('.selectedCard').remove();    
        }
    });
});


</script>
{% endblock %}
