{% extends 'base.html.twig' %}

{% block title %}Hello CardController!{% endblock %}

{% block body %}
    {{ form_start(form, {'action': path(app.request.attributes.get('_route')), 'method': 'POST', 'enctype':'multipart/form-data'}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div>
        <ul class="list-group">
        {% for entity in entities %}
            <li class="list-group-item"> {{ entity.name }} </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
